.Rproj.user
.Rhistory
.RData
.Ruserdata
bibliography.bib
inst/ProphosquaMain/
.DS_Store
*_files/
MiMB_submission*
CLAUDE.md
/doc/
/Meta/
/docs/
temp_backup/
vignettes/QCReport_cache/
vignettes/ptm_example-main/
